*{
    margin:0;
    padding:10px;
    box-sizing: border-box;
}
body{
    min-width:400px;
}

input{
    width:100%;
    padding:10px 10px;

}

button{
    padding:1rem;
    margin-top:1rem;
    background-color: #5f9341;
    border:1px solid #5f9341;
    color:white;
    border-radius:5px;
}
#dlt-btn{
    background-color: white;
    color:#5f9341;
}
ul{
    padding-left:0;
}
li{
    list-style: none;
    margin-top:5px;
}
a{
    
 color: #5f9341;  
}